@charset "UTF-8";
/* //// Structure //// */
body {
  background-color: black;
  background-attachment: fixed;
  font-family: "Lobster", "cursive";
  overflow: hidden;
}

/* //// Menu //// */
.menu {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 4px solid ivory;
  border-radius: 10px;
  width: 80vw;
  height: 70vh;
  margin-top: 80px;
  padding-bottom: 20px;
}
.menu .menu__linha {
  text-align: center;
}
.menu .menu__título {
  color: ivory;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.menu .menu__opção {
  width: 30%;
  margin: 20px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  filter: sepia();
  transition: 0.3s linear;
}

@media only screen and (min-width: 768px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 4px solid ivory;
    border-radius: 10px;
    width: 40vw;
    height: 80vh;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .menu .menu__título {
    margin-top: 30px;
  }
  .menu .menu__opção:hover {
    filter: none;
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1600px) {
  .menu {
    margin-top: 75px;
  }
  .menu .menu__título {
    color: ivory;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1700px) {
  .menu {
    margin-top: 100px;
  }
  .menu .menu__título {
    color: ivory;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
/* //// Vitrola //// */
.vitrola {
  display: none;
  overflow-x: hidden;
  /* Disco */
  /* Controles */
  /* Rotação do LP */
}
.vitrola .vitrola__background {
  position: absolute;
  z-index: -9999;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.vitrola .vitrola__voltar {
  position: fixed;
  font-size: 30px;
  background: none;
  border: none;
  margin-top: 50px;
  margin-left: 100px;
  padding: 10px;
}
.vitrola .vitrola__aparelho {
  position: fixed;
  margin-top: 231px;
  margin-left: 80px;
}
.vitrola .vitrola__aparelho .vitrola__aparelho--img {
  width: 250px;
}
.vitrola .vitrola__haste {
  position: fixed;
  margin-top: 279px;
  margin-left: 251px;
  z-index: 9999;
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.vitrola .vitrola__haste .vitrola__haste--img {
  width: 46px;
  z-index: 9999;
}
.vitrola .vitrola__lp {
  position: fixed;
  margin-top: 229px;
  margin-left: 79px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
}
.vitrola .vitrola__lp .vitrola__lp--img {
  width: 198px;
}
.vitrola .vitrola__cover {
  position: fixed;
  margin-top: 480px;
  margin-left: 100px;
  transform: rotate(30deg);
}
.vitrola .vitrola__cover .vitrola__cover--img {
  width: 193px;
}
.vitrola .vitrola__música--pausar, .vitrola .vitrola__música--tocar {
  display: none;
  position: fixed;
  margin-left: 140px;
  margin-top: 150px;
  background: none;
  border: none;
  padding: 10px;
  width: 85px;
  font-size: 30px;
  cursor: pointer;
  transition: 1s linear;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.vitrola .rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@media only screen and (min-width: 768px) {
  .vitrola {
    transform: none;
    /* Disco */
    /* Controles */
  }
  .vitrola .vitrola__background {
    height: unset;
  }
  .vitrola .vitrola__voltar {
    position: fixed;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 550px;
    cursor: pointer;
    padding: 10px;
  }
  .vitrola .vitrola__voltar:hover {
    color: ivory;
  }
  .vitrola .vitrola__aparelho {
    position: fixed;
    margin-top: 231px;
    margin-left: 700px;
  }
  .vitrola .vitrola__aparelho .vitrola__aparelho--img {
    width: 500px;
    height: 398px;
  }
  .vitrola .vitrola__dropzone {
    position: fixed;
    width: 396px;
    height: 396px;
    margin-top: 233px;
    margin-left: 703px;
  }
  .vitrola .vitrola__haste {
    position: fixed;
    margin-top: 329px;
    margin-left: 1041px;
    z-index: 9999;
    transition: 1s linear;
    -webkit-transition: 1s linear;
  }
  .vitrola .vitrola__haste .vitrola__haste--img {
    width: 92px;
    height: 271px;
    z-index: 9999;
  }
  .vitrola .vitrola__lp {
    position: fixed;
    margin-top: 100px;
    margin-left: 100px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
  }
  .vitrola .vitrola__lp .vitrola__lp--img {
    cursor: grab;
    width: 386px;
  }
  .vitrola .vitrola__cover {
    position: fixed;
    margin-top: 100px;
    margin-left: 100px;
    cursor: pointer;
  }
  .vitrola .vitrola__cover .vitrola__cover--img {
    width: 398px;
  }
  .vitrola .vitrola__música--pausar, .vitrola .vitrola__música--tocar {
    position: fixed;
    margin-left: 820px;
    margin-top: 100px;
    background: none;
    padding: 10px;
    width: 170px;
    font-size: 60px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1600px) {
  .vitrola {
    margin-left: 150px;
    margin-top: 75px;
  }
  .vitrola .vitrola__background {
    margin-left: -150px;
    margin-top: -75px;
  }
}
@media only screen and (min-width: 1700px) {
  .vitrola {
    margin-left: 300px;
    margin-top: 150px;
  }
  .vitrola .vitrola__background {
    margin-left: -300px;
    margin-top: -150px;
  }
}
.rádio {
  display: none;
  position: fixed;
  left: -970px;
}
.rádio .rádio__carro {
  position: fixed;
  margin-top: 100px;
  width: 1450px;
}
.rádio .rádio__vídeo {
  position: fixed;
  z-index: -1;
  left: -400px;
  bottom: 300px;
  width: 1050px;
}
.rádio .rádio__controle--anterior {
  position: fixed;
  margin-left: 1000px;
  margin-top: 512px;
  cursor: pointer;
}
.rádio .rádio__controle--próxima {
  position: fixed;
  margin-left: 1260px;
  margin-top: 524px;
  cursor: pointer;
}
.rádio .rádio__voltar {
  position: fixed;
  margin-top: 380px;
  margin-left: 1070px;
}
.rádio .rádio__voltar .rádio__voltar--botão {
  color: ivory;
  border: none;
  font-size: 25px;
  background: none;
  transform: rotate(3deg);
}

@media only screen and (min-width: 768px) {
  .rádio {
    position: unset;
  }
  .rádio .rádio__vídeo {
    left: unset;
    z-index: -1;
    bottom: 100px;
    width: 1450px;
  }
  .rádio .rádio__voltar {
    margin-top: 350px;
    margin-left: 360px;
  }
  .rádio .rádio__voltar .rádio__voltar--botão {
    font-size: 30px;
    cursor: pointer;
    transform: none;
  }
}
@media only screen and (min-width: 1400px) {
  .rádio {
    transform: scale(1.2);
    margin-left: 150px;
  }
  .rádio .rádio__vídeo {
    bottom: -300px;
  }
}
@media only screen and (min-width: 1600px) {
  .rádio {
    transform: scale(1.2);
    margin-left: 150px;
  }
  .rádio .rádio__vídeo {
    bottom: -600px;
  }
}
@media only screen and (min-width: 1700px) {
  .rádio {
    margin-left: 250px;
    transform: scale(1.4);
  }
  .rádio .rádio__vídeo {
    bottom: -600px;
  }
}
.discoteca {
  position: absolute;
  left: -480px;
  display: none;
}
.discoteca .discoteca__globo {
  position: fixed;
  object-fit: cover;
}
.discoteca .discoteca__globo .discoteca__globo__vídeo {
  position: absolute;
  width: 1000px;
}
.discoteca .discoteca__luzes {
  position: fixed;
  width: 500vw;
  height: 200vh;
  background-image: linear-gradient(0deg, rgba(253, 45, 91, 0.5) 0%, rgba(0, 9, 255, 0.5) 100%);
  z-index: 2;
}
.discoteca .discoteca__voltar {
  position: fixed;
  margin-top: 630px;
  margin-left: 600px;
  z-index: 3;
}
.discoteca .discoteca__voltar .discoteca__voltar--botão {
  position: fixed;
  color: ivory;
  border: none;
  font-size: 25px;
  background: none;
}

@media only screen and (min-width: 400px) {
  .discoteca {
    left: -460px;
  }
}
@media only screen and (min-width: 768px) {
  .discoteca {
    position: unset;
  }
  .discoteca .discoteca__globo .discoteca__globo__vídeo {
    width: 1400px;
  }
  .discoteca .discoteca__luzes {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(253, 45, 91, 0.5) 0%, rgba(0, 9, 255, 0.5) 100%);
    z-index: 2;
  }
  .discoteca .discoteca__voltar {
    margin-top: 73px;
    margin-left: 880px;
  }
  .discoteca .discoteca__voltar .discoteca__voltar--botão {
    position: fixed;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1600px) {
  .discoteca {
    transform: scale(1.4);
  }
}
.boombox {
  display: none;
  position: absolute;
  left: -480px;
  width: 100vh;
}
.boombox .boombox__fundo {
  position: fixed;
}
.boombox .boombox__fundo .boombox__fundo__img {
  width: 1400px;
}
.boombox .boombox__voltar {
  position: fixed;
  margin-top: 520px;
  margin-left: 520px;
  z-index: 1;
}
.boombox .boombox__voltar .boombox__voltar--botão {
  color: black;
  border: none;
  font-size: 25px;
  background: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .boombox {
    position: unset;
  }
  .boombox .boombox__voltar {
    margin-left: 470px;
  }
  .boombox .boombox__voltar .boombox__voltar--botão {
    color: black;
    border: none;
    font-size: 25px;
    background: none;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1600px) {
  .boombox .boombox__fundo .boombox__fundo__img {
    width: 2000px;
  }
  .boombox .boombox__voltar {
    margin-left: 700px;
    margin-top: 738px;
  }
  .boombox .boombox__voltar .boombox__voltar--botão {
    font-size: 42px;
  }
}

/*# sourceMappingURL=main.css.map */
