body {
 
  background: url("../img/bamboo.jpg");
  background-attachment: fixed;
}

#mobile {
  display: none;
}

#texto-mobile {
  font-family: 'Lobster', cursive;
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
}

/* Vitrola */

#vitrola {
  position: fixed;
  margin-top: 231px;
  margin-left: 700px;
}

#vitrola-img {
  width: 500px;
  height: 398px;
}

#dropzone {
  position: fixed;
  width: 396px;
  height: 396px;
  margin-top: 233px;
  margin-left: 703px;
}

#haste {
  position: fixed;
  margin-top: 329px;
  margin-left: 1041px;
  z-index: 9999;
  transition: 1s linear;
  -webkit-transition: 1s linear;
}

#haste-img {
  width: 92px;
  height: 271px;
  z-index: 9999;
}

/* Disco */

#lp-img {
  cursor: grab;
}

#lp {
  position: fixed;
  margin-top: 100px;
  margin-left: 100px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
}

#cover {
  position: fixed;
  margin-top: 100px;
  margin-left: 100px;
  transform: rotate(30deg);
  cursor: pointer;
}

/* Controles */

#pausar, #tocar {
  display: none;
  position: fixed;
  margin-left: 820px;
  margin-top: 100px;
  background: none;
  border: 6px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 170px;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  cursor: pointer;
  transition: 1s linear;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/* Rotação do LP */

@-webkit-keyframes rotating{
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@media only screen and (max-width: 767px) {
  
  #vitrola, #haste, #dropzone, #música, #pausar, #tocar {
    display: none;
  }

  #mobile {
    display: block;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    transform: scale(0.70);
  }
}


@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    margin-left: 100px;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1601px) {
  body {
    margin-left: 400px;
    margin-top: 200px;
  }
}