.boombox {
    display: none;
    position: absolute;
    left: -480px;
    width: 100vh;

    .boombox__fundo {
        position: fixed;

        .boombox__fundo__img {
            width: 1400px;
        }
    }

    .boombox__voltar {
        position: fixed;
        margin-top: 520px;
        margin-left: 520px;
        z-index: 1;

        .boombox__voltar--botão {
            color: black;
            border: none;
            font-size: 25px;
            background: none;
            cursor: pointer;
        }
    }

    .boombox__caixas {
        position: fixed;
        margin-left: 655px;
        margin-top: 481px;

        .boombox__caixas__img {
            width: 190px;
            -webkit-animation: vibrating 0.5s linear infinite;
            -moz-animation: vibrating 0.5s linear infinite;
            animation: vibrating 0.5s linear infinite;
        }
    }

    @mixin transform($property) {
        -webkit-transform: $property;
        -ms-transform: $property;
        transform: $property;
      }
      
      @keyframes vibrating {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.05);
        }
      }

}


@media only screen and (min-width: 768px) {
    .boombox {
        position: unset;

    
        .boombox__voltar {
            margin-left: 470px;
    
            .boombox__voltar--botão {
                cursor: pointer;
            }
        }
    }


    

}


@media only screen and (min-width: 1600px) {

    .boombox {

        .boombox__fundo {

            .boombox__fundo__img {
                width: 2000px;
            }
        }

        .boombox__voltar {
            margin-left: 700px;
            margin-top: 738px;
    
            .boombox__voltar--botão {
                font-size: 42px;
            }
        }

        .boombox__caixas {
            margin-left: 937px;
            margin-top: 688px;
    
            .boombox__caixas__img {
                width: 270px;
            }
        }

    }
    

}