/* //// Em breve //// */

.embreve {
    
    display: none;
  
  .embreve__titulo {
        color: ivory;
        font-size: 50px;
        text-align: center;
        margin-top: 200px;
    }
  
  .embreve__voltar {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 7vw;

        .embreve__voltar--botão {
            color: ivory;
            border: 3px solid ivory;
            font-size: 30px;
            background: none;
            cursor: pointer;
            border-radius: 12px;
            padding: 10px;
            text-align: center;
        }
        
        .embreve__voltar--botão:hover {
            color: gray;
            border: 3px solid grey;
        }

    }   

}

@media only screen and (max-width: 767px) {
  
    .mobile {
      display: block;
    }
  
}
  
@media only screen and (min-width: 1600px) and (max-width: 1700px) {

    .embreve {
    
        .embreve__titulo {
            margin-top: 400px;
        }
    }
  
}

@media only screen and (min-width: 1701px) {
   
    .embreve {
    
        .embreve__titulo {
            margin-top: 500px;
        }
    }
  
}