/* //// Menu //// */

.menu {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 4px solid ivory;
  border-radius: 10px;
  width: 80vw;
  height: 70vh;
  margin-top: 80px;
  padding-bottom: 20px;

  .menu__linha {
    text-align: center;
  }

  .menu__título {

    color: ivory;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu__opção {
    width: 30%;
    margin: 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    filter: sepia();
    transition: 0.3s linear;
  }
}


@media only screen and (min-width: 768px){

  .menu {
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      border: 4px solid ivory;
      border-radius: 10px;
      width: 40vw;
      height: 80vh;
      margin-top: 50px;
      padding-bottom: 20px;

    .menu__título {
      margin-top: 30px;
    }
    
    .menu__opção:hover {
      filter: none;
      transform: scale(1.1);
    }
  }

}


@media only screen and (min-width: 1600px){
   
  .menu {

    margin-top: 75px;
  
    .menu__título {
    
      color: ivory;
      margin-top: 100px;
    }
  }

}

@media only screen and (min-width: 1700px) {
   
  .menu {

    margin-top: 100px;
  
    .menu__título {
    
      color: ivory;
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }

}