.rádio {
    display: none;

    .rádio__carro {
        position: fixed;
        margin-top: 100px;
        width: 1450px;
    }

    .rádio__vídeo {
        position: fixed;
        z-index: -1;
        bottom: 100px;
        width: 1450px;
    }

    .rádio__controle--anterior {
        position: fixed;
        margin-left: 1000px;
        margin-top: 512px;
        cursor: pointer;

    }

    .rádio__controle--próxima {
        position: fixed;
        margin-left: 1260px;
        margin-top: 524px;
        cursor: pointer;

    }


    .rádio__voltar {
        position: fixed;
        margin-top: 350px;
        margin-left: 360px;

        .rádio__voltar--botão {
            color: ivory;
            border: none;
            font-size: 30px;
            background: none;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 767px) {
  
    .rádio {
      display: none;
    }
  
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
    .rádio {
        transform: scale(1.2);
        margin-left: 150px;

        .rádio__vídeo {
            bottom: -500px;
        }
    }
}  

@media only screen and (min-width: 1701px) {
     
    .rádio {
      margin-left: 250px;
      transform: scale(1.4);

      .rádio__vídeo {
        bottom: -500px;
    }

    }
}

  