/* //// Structure //// */

body {
    background-color: black;
    background-attachment: fixed;
    font-family: 'Lobster', 'cursive';
    overflow: hidden;

    button:focus {
        outline: none;
        box-shadow: none;
    }
}

