/* //// Structure //// */

body {
    background-color: black;
    background-attachment: fixed;
    font-family: 'Lobster', 'cursive';
    overflow: hidden;

    button:focus {
        outline: none;
        box-shadow: none;
    }
}

.mobile {
    display: none;

    .mobile__texto {
        margin-top: 300px;
        font-size: 40px;
        text-align: center;
        color: ivory;
    }
}

@media only screen and (max-width: 767px) {
  
    .mobile {
      display: block;
    }
  
}